<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Passive VLC data collection</title>
  </head>

  <body ng-controller="passive">
    <div ng-repeat="device in devices">
      <h3>{{device.name}}</h3>
      <div>IP: {{device.ip}}</div>
      <div>HWID: {{device.hwid}}</div>
      <div>Last Seen: {{device.seenpretty}}</div>
      <div>{{device.message}}</div>
      <div ng-show="device.data.length>0">Data: {{device.data}}</div> 
    </div>

    <button ng-click="collectall()">Collect</button>
    <button ng-click="forgetall()">Forget all devices</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>